Calculator/Calculator/bin/
Calculator/Calculator/obj/
FTP/FTP/bin/
FTP/FTP/obj/
FTPForm/FTPForm/bin/
FTPForm/FTPForm/obj/
OracleDBConnect_Winform/OracleDBConnect_Winform/bin/
OracleDBConnect_Winform/OracleDBConnect_Winform/obj/
